.products-parent {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;

}

img {
    max-width: 100%;
    max-height: 100%;
}

.product {
    border: 2px solid red;
    display: grid;
    justify-items: start;
    width: 550px;
    height: 250px;
    margin: 2em 0;
    column-gap: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 'first pic'
        'second pic'
        'third pic';
}

.product.deactive {
    display: none;
}



.product>:nth-child(1) {
    padding-top: 14px;
    grid-area: first;
    background-color: aqua;
    width: 200px;
    overflow: hidden;
    text-align: center;
}

.product>:nth-child(2) {
    grid-area: second;
    background-color: yellow;

}

.product>:nth-child(3) {
    grid-area: third;
    padding-bottom: 50px;
    background-color: red;
    width: 110px;
}

.product :nth-child(4) {
    grid-area: pic;
    overflow: hidden;
}