.product {
    padding: 1.5em 1.5em 0;
    display: grid;
    margin-bottom: 1em;
    border-radius: 0.5em;
    align-items: center;
    border: 1px solid rgba(223, 223, 223, 1);
}

.product.checked-radio-btn {
    border: 1px solid rgba(60, 180, 171, 1);
}


input[type="radio"] {
    grid-area: radio-btn;
    display: none;
}

.radio-btn {
    grid-area: radio-btn;
    content: '';
    width: 22px;
    aspect-ratio: 1;
    border-radius: 100vmax;
    border: 1px solid rgb(199, 199, 199);
    position: relative;
    inset: 0;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-btn::after {
    content: '';
    width: 12px;
    aspect-ratio: 1;
    border-radius: 100vmax;
    background-color: rgba(60, 180, 171, 1);
    position: absolute;
    display: none;
}

input[type="radio"]:checked~.radio-btn::after {
    display: block;
}


.product-name {
    grid-area: product-name;
    display: flex;
    align-items: center;

}

.product-name :first-child {
    font-size: 1.1em;
    font-weight: 750;
}

.product-name :last-child {
    font-size: 0.9em;
    font-weight: 600;
    color: rgba(60, 180, 171, 1);
}


.product-left {
    grid-area: product-left;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.product-left :first-child {
    font-size: 1.1em;
    font-weight: 750;
}

.product-left :last-child {
    font-size: 0.9em;
    font-weight: 600;
    color: rgb(146, 146, 146);
}

.product-description {
    grid-area: product-description;
    font-size: 0.9em;
    color: rgb(146, 146, 146);
}

.back-product {
    grid-area: your-pledge;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    /* display: none; */
}

.back-product::before {
    content: '';
    top: 0;
    left: -1.5em;
    height: 1px;
    width: calc(100% + 3.01em);
    position: absolute;
    background: rgb(204, 201, 201);
}

.back-product>:first-child {
    font-size: 1.1em;
    color: rgb(146, 146, 146);
}

.project-pledge-btn {
    display: flex;
    align-items: center;

}

.project-pledge-btn input[type='text'] {
    width: 8em;
    border-radius: 100vmax;
    border: 1px solid rgba(60, 180, 171, 1);
    padding: 1em 0;
    text-align: center;
    font-weight: 750;
    position: relative;
}

.project-input-btn {
    position: relative;
}

.project-input-btn::before {
    content: '$';
    top: 32%;
    left: 27%;
    border-radius: 100vmax;
    position: absolute;
    color: rgb(204, 201, 201);
    font-size: 0.8em;
    z-index: 10;
}

.project-input-btn::after {
    content: '';
    top: 28%;
    left: 70%;
    width: 2px;
    height: 20px;
    background-color: rgb(204, 201, 201);
    border-radius: 100vmax;
    position: absolute;
    z-index: 10;
}

.project-pledge-btn *:hover {
    cursor: pointer;
}


.project-pledge-btn button {
    border-radius: 100vmax;
    border: 1px solid rgba(60, 180, 171, 1);
    background-color: white;
    padding: 1em 2em;
    position: relative;
}

.project-pledge-btn button:hover {
    background-color: rgba(60, 180, 171, 1);
    color: white;
    cursor: pointer;
}

.back-product :last-child {
    display: flex;
    gap: 1em;
}

@media (min-width:30em) {
    .product {
        grid-template-columns: 10% 75% 15%;
        grid-template-rows: auto auto;
        grid-template-areas: 'radio-btn product-name product-left'
            'product-description product-description product-description';
    }

    .product.checked-radio-btn {
        grid-template-columns: 10% 75% 15%;
        grid-template-rows: auto auto auto;
        grid-template-areas: 'radio-btn product-name product-left'
            'product-description product-description product-description'
            'your-pledge your-pledge your-pledge';
    }

    .product-name {
        align-items: center;
        gap: 1em;
    }

    .product-description {
        margin: 1.5em 0 1.8em 10%;
        line-height: 1.75;
        text-align: justify;
    }

    .product-left {
        justify-self: self-end;
    }

    .back-product {
        justify-content: space-between;
        align-items: center;
        padding: 1.5em 0;
        overflow: hidden;
        display: none;
    }

    .back-product.checked-radio-btn {
        display: flex;
    }
}

@media (max-width:30em) {
    .product {
        grid-template-columns: 20% 80%;
        grid-template-rows: auto auto auto;
        grid-template-areas: 'radio-btn product-name'
            'product-description product-description'
            'product-left product-left';
    }

    .product.checked-radio-btn {
        grid-template-columns: 20% 80%;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 'radio-btn product-name'
            'product-description product-description'
            'product-left product-left'
            'your-pledge your-pledge';
    }

    .product-name {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 0.5em;
    }

    .product-description {
        margin: 1.5em 0 1.8em 0;
        line-height: 1.75;
    }

    .product-left {
        justify-self: self-start;
        margin-bottom: 1.8em;
    }

    .project-pledge-btn {
        align-items: center;
    }

    .back-product {
        flex-direction: column;
        justify-content: space-around;
        gap: 1em;
        padding: 1.5em 0;
        display: none;

    }

    .back-product.checked-radio-btn {
        flex-direction: column;
        justify-content: space-around;
        gap: 1em;
        padding: 1.5em 0;
        display: flex;
    }
}